h1 {
  margin: 0 auto;
}

body {
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
}

.top-container {
  background-color: #a7c4bc;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
